.aboutus {
  max-width: 60%;
  margin: 0 auto;
  gap: 2em;
}

.aboutus__title {
}

.aboutus__content-text {
  background-color: rgb(139 139 139 / 82%);
  padding: 2em;
  border-radius: 1em;
}

.aboutus__text {
}
