* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-image:url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}
