* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/wallpaper.jpg);
  background-size: 250%;
  background-position: center;
  animation: animateBackground 10s infinite;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 150px;
  grid-gap: 1em;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  background-repeat: no-repeat;
}

@keyframes animateBackground {
  0% {
    background-size: 250% auto;
  }

  50% {
    background-size: 270% auto;
  }

  100% {
    background-size: 250% auto;
  }
}
