


h1 {

    color: $titles-color;
    margin-bottom: 20px;
    background-color: $titles-background;
    border-radius: 10px;
    text-align: center;
    
  }
  
  h2 {
    color: $titles-color;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: $titles-background;
    border-radius: 10px;
  }

  h3{
    background-color: $titles-background;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }