

main {
    
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      p{
        font-size: 1.3rem;
        color: $font-color;
        width: 65%;
        text-align: center;
        border-radius: 10px;
        background-color: $texts-background;
      }
      article {
        iframe {
          margin: 20px;
        }
      }
    }
  
   
  }