@media (max-width: 980px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 1em;
    font-size: 1em;
    #footer-copy {
      flex-grow: 0;
    }
  }
}

@media (max-width: 915px) {
  body {
    background-size: cover;

    animation: none;
    background-repeat: repeat;
  }
}

@media (max-width: 768px) {
  footer {
    #footer-copy {
      order: 2;
    }

    #footer-images {
      order: 1;
      flex-grow: 0;
    }
  }

  nav {
    justify-content: center;

    #navs {
      flex-grow: 0;
    }

    #logoheader {
      text-align: center;
      margin-bottom: 10px;
    }
    #navs-container {
      justify-content: center;

      .border {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  main {
    .aboutus__title {
      font-size: 1.5em;
      margin-top: 20px;
    }
    .programs {
      width: 250px;
      height: 200px;
    }
  }
}

@media (max-width: 560px) {
  main {
    .aboutus__title {
      margin-top: 50px;
    }

    .programs {
      width: 180px;
      height: 200px;
    }
  }
  form {
    margin-top: 40px;
  }
}
